.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.loading {
    cursor: wait;
    background:#ffffff url('../images/ajax-loader.gif') no-repeat center center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    opacity: 0.8;
    position: relative;
    z-index: 100;
    width: auto;
    height: auto;
}

.alert {
  left: 50%;
  top: 10px;
  position: fixed;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}


@-webkit-keyframes slide {
  0% {left: 0;}
  100% { left: 50%;}
}

@keyframes slide {
  0% {left: 0;}
  100% { left: 50%;}
}




html,body {
    margin:0;
    height:100%
}

.sky {
    height:600px;
    background:#007fd5;
    position:relative;
    overflow:hidden;
    -webkit-animation:sky_background 50s ease-out infinite;
    -moz-animation:sky_background 50s ease-out infinite;
    -o-animation:sky_background 50s ease-out infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0)
}


.moon {
    background:url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
    position:absolute;
    left:0;
    height:100%;
    width:300%;
    -webkit-animation:moon 50s linear infinite;
    -moz-animation:moon 50s linear infinite;
    -o-animation:moon 50s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0)
}


.clouds_one {
    background:url("../images/1150ok.png");
    position:absolute;
    margin-top:100px;
    margin-bottom: 500px;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_one 60s linear infinite;
    -moz-animation:cloud_one 60s linear infinite;
    -o-animation:cloud_one 60s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0)
}

.clouds_two {
    background:url("../images/fog.png");
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_two 75s linear infinite;
    -moz-animation:cloud_two 75s linear infinite;
    -o-animation:cloud_two 75s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0)
}

.clouds_three {
    background:url("../images/fog.png");
    position:absolute;
    left:100px;
    top:100px;
    height:100%;
    width:300%;
    -webkit-animation:cloud_three 100s linear infinite;
    -moz-animation:cloud_three 100s linear infinite;
    -o-animation:cloud_three 100s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0)
}

@-webkit-keyframes sky_background {
    0% {
        background:#007fd5;
        color:#007fd5
    }

    50% {
        background:#000;
        color:#a3d9ff
    }

    100% {
        background:#007fd5;
        color:#007fd5
    }
}

@-webkit-keyframes moon {
    0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }

    50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

@-webkit-keyframes cloud_one {
    0% {
        left:0
    }

    100% {
        left:-200%
    }
}

@-webkit-keyframes cloud_two {
    0% {
        left:0
    }

    100% {
        left:-200%
    }
}

@-webkit-keyframes cloud_three {
    0% {
        left:0
    }

    100% {
        left:-200%
    }
}

@-moz-keyframes sky_background {
    0% {
        background:#007fd5;
        color:#007fd5
    }

    50% {
        background:#000;
        color:#a3d9ff
    }

    100% {
        background:#007fd5;
        color:#007fd5
    }
}

@-moz-keyframes moon {
    0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }

    50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

@-moz-keyframes cloud_one {
    0% {
        left:0
    }

    100% {
        left:-200%
    }
}

@-moz-keyframes cloud_two {
    0% {
        left:0
    }

    100% {
        left:-200%
    }
}

@-moz-keyframes cloud_three {
    0% {
        left:0
    }

    100% {
        left:-200%
    }
}

.title3d {
  text-shadow: rgb(187, 187, 187) 0px 1px 0px,
  rgb(181, 181, 181) 0px 2px 0px,
  rgb(172, 172, 172) 0px 3px 0px,
  rgb(160, 160, 160) 0px 4px 0px,
  rgb(145, 145, 145) 0px 5px 0px,
  rgb(127, 127, 127) 0px 6px 0px,
  rgba(0, 0, 0, 0.199219) 0px 7px 1px,
  rgba(0, 0, 0, 0.296875) 0px 8px 6px;
}