<div class="form-group">
<select multiple ng-multiple="true"
        class="form-control"
        ng-model="coach.selectedPlayers" ng-options="player.id as player.name for player in playersAll">

</select>
    <!--<button type="button" class="btn btn-default"-->
            <!--ng-model="coach.selectedPlayers" data-html="1" data-multiple="1"-->
            <!--data-animation="am-flip-x"-->
            <!--ng-options="player.id as player.name for player in playersAll" bs-select>-->
      <!--Zawodnicy <span class="caret"></span>-->
    <!--</button>-->
    <div class="alert-danger" role="alert" ng-repeat="error in coach.errors.players">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {$ error $}
    </div>

</div>