<form ng-show="acl.resources.BOXERS" ng-submit="savePlayerSubmit($event, player)">
    <div class="form-group">
        <input value="{$ player.id $}" name="id" type="hidden" />
        <label for="name">Name</label>
        <input ng-model="player.name" type="text" class="form-control" id="name" placeholder="Imię">
        <div class="alert alert-danger" role="alert" ng-repeat="error in player.errors.name">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {$ error $}
        </div>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input ng-model="player.surname" type="text" class="form-control" id="surname" placeholder="Nazwisko">
        <div class="alert alert-danger" role="alert" ng-repeat="error in player.errors.surname">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {$ error $}
        </div>
    </div>
    <div class="form-group">
        <label for="avatar">Avatar</label>
        <input ng-model="player.avatar" type="text" class="form-control" id="avatar" placeholder="Avatar">
        <div class="alert alert-danger" role="alert" ng-repeat="error in player.errors.avatar">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {$ error $}
        </div>
    </div>

    <div class="checkbox" ng-repeat="org in availableOrganizations">
        <label>
            <input ng-checked="player.champion && player.champion.indexOf(org.name) !== -1"
                   ng-click="player.toggleCheck(org.name)"
                   type="checkbox" name="player.champion[]" ng-show="org.available">
            <input ng-checked="player.champion && player.champion.indexOf(org.name) !== -1"
                   ng-click="player.toggleCheck(org.name)"
                   type="checkbox" name="player.champion[]" ng-hide="org.available" disabled>
            {$ org.name $}
        </label>
    </div>
    <button type="submit" class="btn btn-default glyphicon glyphicon-ok-sign">&nbsp;Submit</button>
</form>