<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{$ player.name $} {$ player.surname $}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">

                        <!-- {full-name -->
                            <div ng-include="'views/fields/full-name.html'"></div>
                        <!-- full-name} -->
                        <!-- {reach -->
                            <div ng-include="'views/fields/reach.html'"></div>
                        <!-- reach} -->
                        <!-- {height -->
                            <div ng-include="'views/fields/height.html'"></div>
                        <!-- height} -->

                    </div>
                    <div class="col-md-5">
                        <!-- {avatar -->
                            <div ng-include="'views/fields/avatar.html'"></div>
                        <!-- avatar} -->
                    </div>
                </div>
                <!-- {description -->
                    <div ng-include="'views/fields/description.html'"></div>
                <!-- description} -->
                <!-- {birthdate -->
                    <div ng-include="'views/fields/birthdate.html'"></div>
                <!-- birthdate} -->
                <!-- {divisiton -->
                    <div ng-include="'views/fields/division.html'"></div>
                <!-- division} -->
                <!-- {stance -->
                    <div ng-include="'views/fields/stance.html'"></div>
                <!-- stance} -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="action()">Save changes</button>
            </div>
        </div>
    </div>
</div>
