<form ng-show="'BOXERS'|acl" ng-submit="editPlayerSubmit($event, player)">
    <div class="form-group">
        <input type="hidden">{$ player.id $}
        <label for="name">Name</label>
        <input ng-model="player.name" type="text" class="form-control" id="name" placeholder="Imię">
        <div class="alert alert-danger" role="alert" ng-repeat="error in player.errors.name">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {$ error $}
        </div>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input ng-model="player.surname" type="text" class="form-control" id="surname" placeholder="Nazwisko">
    </div>
    <div class="checkbox {$ org.available $}" ng-repeat="org in availableOrganizations">
        <label>
            <!--{$ player.champion $}-->
            <!--Index: {$ player.champion.indexOf(org.name) $}-->
            <!--org: {$ org $}-->
            <!--<br />-->
            <input ng-checked="player.champion.indexOf(org.name) != -1" ng-click="player.toggleCheck(org.name)"
                    type="checkbox" name="player.champion[]" ng-show="org.available">
            <input ng-checked="player.champion.indexOf(org.name) != -1" ng-click="player.toggleCheck(org.name)"
                    type="checkbox" name="player.champion[]" ng-hide="org.available">
            {$ org.name $}
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>