<div class="form-group">
    <label for="division">Kategoria</label>
    <button id="division" type="button" class="btn btn-default" ng-model="player.division" data-html="1"
            ng-options="di as di.label for di in divisions" bs-select>
      Action <span class="caret"></span>
    </button>
    <div class="alert alert-danger" role="alert" ng-repeat="error in player.errors.division">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {$ error $}
    </div>
</div>
