<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Zawodnicy</th>
            <th>L. zawodników</th>
            <th ng-show="template.length">#</th>
            <th ng-show="template.length">#</th>
            <th ng-show="template.length">#</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="coach in coaches track by $index" ng-click="editRow($event, $index)">
            <th scope="row">{$ $index + 1 $}</th>
            <td>{$ coach.id|limitTo:3 $}</td>
            <td>
                <span ng-hide="template[$index].coach">{$ coach.name $}</span>
                <span class="slide-animate" ng-include="template[$index].coach.name.url"></span>
            </td>
            <td>{$ coach.surname $}</td>
            <td>
                <label ng-repeat="player in coach.players">
                    {$ player.name $} {$ player.surname $}
                    <span ng-hide="$last">,&nbsp;</span>
                </label>
            </td>
            <td>{$ coach.players.length $}</td>
            <td ng-show="template[$index].coach">
                <button ng-click="saveCoach($event, coach)" class="btn btn-xs btn-success">
                    Zapisz
                </button>
            </td>
            <td ng-show="template[$index].coach">
                <button ng-click="removeCoach($event, coach, $index)" class="btn btn-xs btn-danger">
                    Usuń
                </button>
            </td>
            <td ng-show="template[$index].coach">
                <button ng-click="editRowDismiss($event, $index)" class="btn btn-xs btn-default">
                    Anuluj
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="text-center">
                    <pagination
                            ng-change="coachPaginator.pageChanged()"
                            max-size="10"
                            boundary-links="true"
                            total-items="coachPaginator.totalItems"
                            ng-model="coachPaginator.currentPage"
                            class="pagination-sm"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;"
                    >
                    </pagination>
                </div>
            </td>
        </tr>
    </tbody>
</table>
