<table class="table table-striped">
    <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 5%;">
    </colgroup>
    <thead>
        <tr>
            <th>
                <button id="add-row" ng-click="addCoach($event)"
                        class="btn btn-success btn-xs glyphicon glyphicon-plus">

                </button>
            </th>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Zawodnicy</th>
            <th>Ilość</th>
            <th>Ranga</th>
            <th ng-show="template.length">#</th>
        </tr>
    </thead>
    <tbody>
        <tr
                ng-mouseover="mouseOver($event)"
                ng-repeat="coach in coaches track by $index" ng-click="editRow($event, $index)"
                ng-class="{
                    'animated slideInRight': ! template[$index].coach && $index % 2,
                    'animated slideInLeft': ! template[$index].coach && ! $index %2,
                    'animated flipInX': template[$index].coach
                }"
        >
            <th scope="row">{$ $index + 1 $}</th>
            <td>{$ coach.id|limitTo:3 $}</td>
            <td>
                <span ng-hide="template[$index].coach">{$ coach.name $}</span>
                <span class="slide-animate" ng-include="template[$index].coach.name.url"></span>
            </td>
            <td>
                <span ng-hide="template[$index].coach">{$ coach.surname $}</span>
                <span class="slide-animate" ng-include="template[$index].coach.surname.url"></span>
            </td>
            <td>
                <span ng-hide="template[$index].coach">
                    <span ng-repeat="player in coach.players">
                        {$ player.name $} {$ player.surname $}
                        <span ng-hide="$last">,&nbsp;</span>
                    </span>
                </span>
                <span class="slide-animate" ng-include="template[$index].coach.players.url"></span>
            </td>
            <td>{$ coach.selectedPlayers.length $}</td>
            <td>
                <rating
                        ng-model="coach.rate" max="max" readonly="isReadonly"
                        on-hover="hoveringOver(value, coach)"
                        on-leave="coach.overStar = null"
                        ng-click="vote($event, coach)"
                >
                </rating>
                <span
                        class="label"
                        ng-class="{
                            'label-warning': coach.percent<30,
                            'label-info': coach.percent>=30 && coach.percent<70,
                            'label-success': coach.percent>=70
                        }"
                        ng-show="coach.overStar && ! isReadonly && ! coach.isReadonly"
                >
                    {$ coach.percent $}%
                </span>
            </td>
            <td ng-show="template[$index].coach">
                <div ng-show="acl.resources.BOXERS" class="btn-group-vertical" role="group" aria-label="Toolbar">
                    <button ng-click="saveCoach($event, coach)" class="btn btn-xs btn-success">
                        Zapisz
                    </button>
                    <button ng-click="removeCoach($event, coach, $index)" class="btn btn-xs btn-danger"
                            ng-show="coach.id"
                    >
                        Usuń
                    </button>
                    <button ng-click="editRowDismiss($event, $index)" class="btn btn-xs btn-default">
                        Anuluj
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="100">
                <div class="text-center">
                    <pagination
                            ng-change="coachPaginator.pageChanged()"
                            max-size="10"
                            boundary-links="true"
                            total-items="coachPaginator.totalItems"
                            ng-model="coachPaginator.currentPage"
                            class="pagination-sm"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;"
                    >
                    </pagination>
                </div>
            </td>
        </tr>
    </tbody>
</table>
