<div class="animated fadeIn" style="min-height: 800px">
  <div class="sky">
    <div class="row">
      <br />
      <div class="col-md-6 text-center" ng-repeat="d in data| limitTo:2">
        <img
                class="animated"
                ng-class="{
                  'bounceInRight' : $index === 0,
                  'bounceInUp'    : $index !== 0
                }"
                src="{$ d.player.avatar $}"
        />
      </div>
      <div class="col-md-12 text-center">
        <h1 class="animated tada title3d glyphicon-bold glyphicon text-danger">OXER</h1>
        <p><label class="label label-danger">Statystyki ze świata boksu.</label></p>
      </div>
      <div class="col-md-6 text-center" ng-repeat="d in data | limitTo:-2 | limitTo:2">
        <img
                class="animated"
                ng-class="{
                  'bounceInDown'  : $index === 0,
                  'bounceInLeft'  : $index !== 0
                }"
                src="{$ d.player.avatar $}"
        />
      </div>
    </div>
    <div class="moon"></div>
    <div class="clouds_one"></div>
    <div class="clouds_two"></div>
    <div class="clouds_three"></div>
  </div>
</div>
<div class="row" ng-repeat="d in data"
        ng-class="{
          'text-right': $index % 2
        }"
>
  <div class="col-md-4" ng-show="$index %2">
    <img class="animated" data="sec" src="{$ d.player.avatar $}" />
    <h4 class="text-center">{$ d.player.name $} {$ d.player.surname $}</h4>
  </div>
  <div class="col-md-8">
    <p class="animated" data="text" ng-bind-html="d.description"></p>
  </div>
  <div class="col-md-4" ng-hide="$index %2">
    <img class="animated" data="sec" src="{$ d.player.avatar $}" />
    <h4 class="text-center">{$ d.player.name $} {$ d.player.surname $}</h4>
  </div>
</div>
